:root {
  --color-primary: #2563EB;
  --color-secondary: #F59E0B;
  --color-success: #F59E0B;
  --color-error: #EF4444;
  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-text: #111827;

  --gradient: linear-gradient(90deg, #3b82f6 10%, #f9fafb 100%);
  --shadow-subtle: 0 1px 2px 0 rgba(16,21,50,0.08), 0 1.5px 6px 0 rgba(16,21,50,0.08);
  --radius: 10px;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}
